
TWITTER_CONSUMER_KEY = "PUT YOUR CONSUMER KEY HERE"
TWITTER_CONSUMER_SECRET = "PUT YOUR CONSUMER SECRET HERE"
TWITTER_ACCESS_KEY = "PUT YOUR APP KEY HERE"
TWITTER_ACCESS_SECRET = "PUT YOUR APP SECRET HERE"